/*
* 
* @author Jamilton Damasceno
* @version 0.1
*/

/* ========================= layout ======================== */
html, body, .cover {
	height: 100%;
	overflow: auto;
}

body {
	background: url('imagens/ruido.png'),
				radial-gradient(#3399ff,#003366);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
	overflow-x: hidden;
}

/* -- Barra de navegação -- */
.brand {
	height: 20px;
	width: 180px;
	display: block;
	background-size: contain;
	font-weight: 900;
	font-family: Verdana, sans-serif;
}

.brand-lg {
	font-size: 24.5px;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;
	background: none;
	font-size: 130%;
	transition: all 0.3s;
}

/* -- Cover -- */
.cover {
	display: table;
	width: 100%;
	height: 80%;
}

.text-cover {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* -- Buttons -- */
.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    width: 240px;
	height: 50px;
	text-align: middle;
}

.btn-black {
	background: black;
	background-color: 2px solid black;
}

.btn-white {
	border: 2px solid white;
}
.btn-white:hover {
	background-color: white;
	color: black;

}

/* -- services section -- */
#services {
	margin-top: 80px;
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.who{
	padding: 20px 0px 10px 0px;
}

.img-co {
	margin-top: 34px;
	height: 120px;
}

.img-art {
	height: 210px;
	margin-left: 10px;
}

/* -- goals section -- */
#goals {
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.rotacionar{
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    padding-left: 120px;
}

.img-code {
	 height: 500px;
	 width: 500px;
}

.home {
	font-size:18px;
}

/* -- footer -- */
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

.item-rede-social{
	float: right;
}

/* ========================= Tipografia ======================== */
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
	h1 {
	    font-size: 50px; 
  	}
  	.btn-custom {
    	margin: 10px 15px;
	}
}

/* sm */
@media screen and (min-width: 768px) {
    h1 {
	    font-size: 70px; 
  	}

}

/* md */
@media screen and (min-width: 992px) {
    h1 {
	    font-size: 80px; 
  	}
}

/* lg */
@media screen and (min-width: 1200px) {
    h1 {
	    font-size: 100px; 
  	}
}
/* Fim Media queries */


h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#rodape h4 {
	color: #919496;
	font-size: 12px;
	text-transform: uppercase;
}

#services h2, #services h3 {
	color: #7c25f8;
}

#goals h3 {
	color: #9bf0e1;
}

/* modals */
.profile {
	display: block;
	border-radius: 100%;
	margin-left: auto;
    margin-right: auto;
	height: 110px;
}
